<!doctype html>
<html<% if offline %> manifest="flashing_sign.appcache"<% end %>>
<head>
  <meta charset="utf-8">
  
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Hello, viewport! -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Ahhh add to homescreen thingy!! -->
  <!-- https://developers.google.com/chrome/mobile/docs/installtohomescreen -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="360x360" href="<%= url_for 'images/icon.png' %>">
  <link rel="apple-touch-icon" sizes="360x360" href="<%= url_for 'images/icon.png' %>">
  <!-- https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "The Middleman" %></title>
  
  <%= stylesheet_link_tag "all" %>

</head>

<body class="<%= page_classes %>">
  <%= yield %>
</body>
</html>
